<div class = "page-header">
  <div class="pull-right"><%=link_to 'New User', new_user_path, class: "btn btn-info"%></div>
  <h1>Users</h1>
</div>

<table class="table">
  <thead>
    <tr>
        <th> Name</th>

        <th> Email</th>
        <th> </th>
    </tr>
  </thead>
<% @users.each do |user| %>
  <tr>
    <div class=col-md-2>
      <td>
        <%=link_to user.first_name + ' ' + user.last_name, user%>
      </td>
    </div>

    <div class=col-md-2>
      <td>
        <%=mail_to user.email%>
      </td>
    </div>
    <td>
      <div class="text-right">
        <%=link_to "edit", edit_user_path(user)%>
      </div>
    </td>
  </tr>
<%end%>

</table>
