<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">gCamp</a>
    </div>

</nav>

<div class = "container">

  <div class="jumbotron">
    <h1>gCamp</h1>
    <p>Your life, organized.</p>
  </div>


<div class="row">
  <div class="col-md-4">
    <%= image_tag("8969237967_c5960fc544_b.jpg", class: "img-responsive") %>
  </div>
  <div class="col-md-4">
    <%= image_tag("8864977481_713b7cbda5_b.jpg", class: "img-responsive") %>
  </div>
    <div class="col-md-4">
    <%= image_tag("8203794182_8004f8f636_b.jpg", class: "img-responsive") %>
</div>
</div>

<br>
<div class="row">
<div class="col-md-4">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Tasks</h3>
    </div>
    <div class="panel-body">
  Grouped by projects and lists. Just the way you like'em.
    </div>
  </div>
</div>
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
      <h3 class="panel-title">Permissions</h3>
      </div>
      <div class="panel-body">
        Fine-grained permissions
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Comments</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li> Comment on tasks and documents </li>
          <li>Get email notifications </li>
        <ul>
      </div>
    </div>
  </div>
</div>

</div>
